<div class="container">
    <!--Row with three equal columns-->
    <div class="row">
        <div class="col-md-3">
            <div class="demo-content"><img src="http://media.beliefnet.com/~/media/photos-with-attribution/food/coffeecreditshutterstockcom.jpg" 
                                                         style="height: 150px; width: 180px"/></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>  
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>
        <div class="col-md-3">
            <div class="demo-content"><h1>Hello</h1></div>
        </div>

    </div>

    </div>
