@model Lab20.Models.User

<h3>Login</h3><br />
<form action="/Home/LoginPage" method="get">
    First Name <input  type="text" name="FirstName" /><br />
    Password <input type="password" name="Password" />
    <input type="submit" value="Login" />
</form>